/* Anki Minimal by @burtmacklin23 */
/* -------------------------------------------------- PREFERENCES */
:root {
  --cursor: default;
  --max-card-width: 40em;
  --img-width: 50%;
  --img-brightness: 0.75;
  --img-filter: grayscale();
}

/* -------------------------------------------------- THEME COLORS */
.card {
  --background-primary: #ffffff;
  --background-primary-alt: #f7f7f7;
  --background-secondary: #3333330f;
  --background-secondary-alt: #3333331a;
  --text-regular: #333333e6;
  --text-faint: #333333cc;
  --text-active: #333333;
  --accent-primary: #348ccb;
  --accent-primary-alt: #4998d0 #b3f0ff;
  --accent-secondary: #2a70a2;
  --accent-secondary-alt: #2f7eb6;
  --box-shadow: #3c42570f 0px 7px 14px 0px, rgba(0, 0, 0, 0.06) 0px 3px 6px 0px;
}
.card.night_mode {
  --background-primary: #2e2f31;
  --background-primary-alt: #ffffff0a;
  --background-secondary: #ffffff14;
  --background-secondary-alt: #ffffff1f;
  --text-regular: #ffffffe6;
  --text-faint: #ffffffb3;
  --text-active: #ffffff;
  --accent-primary: #99ebff;
  --accent-primary-alt: ;
  --accent-secondary: #5da3d5;
  --accent-secondary-alt: #71afda;
  --box-shadow: #0000001f 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

/* -------------------------------------------------- BACKGROUND */
.card {
  background-color: #ececec;
  padding: 0.5em;
  cursor: var(--cursor);
}
.card.night_mode {
  background-color: #242426;
}

/* -------------------------------------------------- LAYOUT */
#qa {
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--background-primary-alt);
  border-radius: 0.25em;
  max-width: var(--max-card-width);
  background-color: var(--background-primary) !important;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-regular) !important;
  word-wrap: break-word;
}
#qa ::selection {
  background-color: var(--background-secondary-alt);
}

/* -------------------------------------------------- FIELDS */
.text,
.extra {
  padding: 0 2em 2em;
}

.extra {
  text-align: left;
  font-size: 14px;
  color: var(--text-faint);
}

/* -------------------------------------------------- CLOZE */
.cloze {
  color: var(--accent-primary);
}

/* -------------------------------------------------- TAGS */
.tags {
  padding: 2em;
}
.tags > * {
  all: initial;
  display: inline;
  margin-right: 0.5em;
  border-radius: 0.2em;
  background-color: var(--background-secondary);
  padding: 0.25em;
  font-size: 14px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, "Helvetica Neue", Arial, sans-serif;
  color: var(--text-faint);
}
.tags > *:hover {
  background-color: var(--background-secondary-alt);
  color: var(--text-active);
  cursor: pointer;
}

/* -------------------------------------------------- DIVIDER */
.divider {
  margin: 0 0 1em;
  border: none;
  border-bottom: 1px dashed var(--background-secondary-alt);
}

/* -------------------------------------------------- IMAGES */
img {
  display: block;
  margin: 1em auto;
  border: 1px solid var(--background-primary-alt);
  border-radius: 0.25em;
  max-width: var(--img-width) !important;
  transition: max-width 0.25s 0.1s, opacity 0.25s 0.1s, filter 0.25s 0.1s, transform 0s;
}
.night_mode img {
  opacity: var(--img-brightness);
  filter: var(--img-filter);
}
.text img, .mobile img {
  max-width: 100% !important;
}
img:hover {
  max-width: 100% !important;
  opacity: 1;
  filter: none;
  cursor: zoom-in;
}
html:not(.mobile) img:active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border: 1px solid var(--accent-primary-alt);
  max-width: 95% !important;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  opacity: 1;
  filter: none;
  cursor: zoom-out;
}
img + br {
  display: none;
}

/* -------------------------------------------------- TABLES */
table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
}
table thead {
  background-color: var(--background-secondary-alt);
}
table tr:nth-of-type(even) {
  background-color: var(--background-primary-alt);
}
table tr:first-child th:first-child {
  border-top-left-radius: 0.25em;
}
table tr:first-child th:last-child {
  border-top-right-radius: 0.25em;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.25em;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.25em;
}
table th {
  border-top: solid 1px var(--background-secondary-alt);
  border-left: solid 1px var(--background-secondary-alt);
  border-bottom: solid 1px var(--background-secondary-alt);
  padding: 0.5em;
}
table th:last-child {
  border-right: solid 1px var(--background-secondary-alt);
}
table td {
  border-left: solid 1px var(--background-secondary-alt);
  border-bottom: solid 1px var(--background-secondary-alt);
  padding: 0.5em;
}
table td:last-of-type {
  border-right: solid 1px var(--background-secondary-alt);
}

/* -------------------------------------------------- LINKS */
a, a:visited {
  text-decoration: none;
  border-radius: 0.2em;
  padding: 0 0.1em;
  color: var(--accent-secondary);
}
a:hover, a:active {
  text-decoration: underline;
  color: var(--accent-secondary-alt);
}

/* -------------------------------------------------- FORMATTING */
u {
  border-bottom: 1px solid var(--text-faint);
  text-decoration: none;
}

/* -------------------------------------------------- CUSTOM FONTS */
@font-face {
  font-family: Rubik;
  src: url("_Rubik-VariableFont_wght.ttf"), url("_Rubik-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Inter;
  src: url("_Inter-VariableFont_slnt,wght.ttf");
}
/* -------------------------------------------------- END OF NORD THEME */

/*# sourceMappingURL=style.css.map */
