/* Prettify by @pranavdeshai: Nord

Version: 0.1.0
Readme: https://github.com/pranavdeshai/anki-prettify
Links:
- Reddit: https://www.reddit.com/user/Various_Breadfruit48
- GitHub: https://github.com/pranavdeshai
- Buy Me a Coffee: https://www.buymeacoffee.com/pranavdeshai
- Ko-fi: https://ko-fi.com/pranavdeshai

/* -------------------------------------------------- PREFERENCES */
:root {
  --card-max-width: 40em;
  --card-text-align: left;
  --font-size-regular: 16px;
  --font-size-small: 14px;
  --font-family: "Rubik", -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --img-width: 50%;
  --img-brightness: 1;
  --img-filter: none;
}

/* -------------------------------------------------- COLORS */
.card {
  /* Light theme */
  background-color: #ececec;
  --text-fg: #434c5e;
  --text-fg-faint: #4c566a;
  --text-bg-selected: #eceff4;
  --card-bg: #ffffff;
  --card-border: transparent;
  --card-box-shadow: #b8c2d740;
  --divider: #d8dee9;
  --tag-fg: #4c566a;
  --tag-bg: transparent;
  --tag-fg-active: #8fbcbb;
  --tag-bg-active: transparent;
  --tag-border: #d8dee9;
  --tag-border-active: #8fbcbb;
  --cloze-fg: #88c0d0;
  --cloze-bg: transparent;
  --link-fg: #81a1c1;
  --link-bg: transparent;
  --link-fg-active: #8fbcbb;
  --link-bg-active: #eceff4;
  --bold-fg: #bf616a;
  --italic-fg: #ebcb8b;
  --bold-italic-fg: #d08770;
  --underline-fg: #a3be8c;
}

.card.night_mode {
  /* Dark theme */
  background-color: #242933;
  --text-fg: #e7e9f0;
  --text-fg-faint: #d8dee9;
  --text-bg-selected: #3b4252;
  --card-bg: #2e3440;
  --card-border: transparent;
  --card-box-shadow: #0f111540;
  --divider: #4c566a;
  --tag-fg: #d8dee9;
  --tag-bg: transparent;
  --tag-fg-active: #8fbcbb;
  --tag-bg-active: transparent;
  --tag-border: #4c566a;
  --tag-border-active: #8fbcbb;
  --cloze-fg: #88c0d0;
  --cloze-bg: transparent;
  --link-fg: #81a1c1;
  --link-bg: transparent;
  --link-fg-active: #8fbcbb;
  --link-bg-active: #434c5e;
  --bold-fg: #bf616a;
  --italic-fg: #ebcb8b;
  --bold-italic-fg: #d08770;
  --underline-fg: #a3be8c;
}

/* -------------------------------------------------- BACKGROUND */
.card {
  cursor: default;
  padding: 0.5em 0;
}
html:not(.mobile) .card {
  padding: 0.5em;
}
.card::-webkit-scrollbar {
  display: none;
}

/* -------------------------------------------------- FLASHCARD */
.prettify-flashcard {
  background-color: var(--card-bg);
  border-radius: 0.5em;
  border: 1px solid var(--card-border);
  box-shadow: var(--card-box-shadow) 0px 4px 6px;
  color: var(--text-fg);
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--card-max-width);
  text-align: var(--card-text-align);
  word-wrap: break-word;
}
.prettify-flashcard ::selection {
  background-color: var(--text-bg-selected);
}

/* -------------------------------------------------- FIELDS */
.prettify-field {
  margin: 2em;
}
.mobile .prettify-field {
  margin: 1em;
}

.prettify-field--back {
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
}

/* -------------------------------------------------- CLOZE */
.cloze {
  background-color: var(--cloze-bg);
  color: var(--cloze-fg);
}

/* -------------------------------------------------- DECK */
.prettify-deck {
  margin: 2em;
  display: flex;
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
}
.mobile .prettify-deck {
  margin: 1em;
}

.prettify-subdeck {
  text-decoration: underline;
}

/* -------------------------------------------------- TAGS */
.prettify-tags {
  margin: 2em;
  display: flex;
  font-size: var(--font-size-small);
}
.mobile .prettify-tags {
  margin: 1em;
}

.prettify-tag {
  all: initial;
  background-color: var(--tag-bg);
  border-radius: 0.25em;
  border: 1px solid var(--tag-border);
  color: var(--tag-fg);
  display: inline;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  font-style: italic;
  margin-right: 0.5em;
  padding: 0.25em;
  transition: all 0.25s;
}
.prettify-tag:hover {
  background-color: var(--tag-bg-active);
  border: 1px solid var(--tag-border-active);
  color: var(--tag-fg-active);
  cursor: pointer;
}

/* -------------------------------------------------- DIVIDER */
.prettify-divider {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed var(--divider);
  margin: 1em;
  padding: 0;
}

.prettify-divider--answer {
  border-bottom: 1px solid var(--divider);
}

/* -------------------------------------------------- IMAGES */
img {
  border-radius: 0.25em;
  display: block;
  margin: 1em auto;
  max-width: var(--img-width) !important;
  transition: max-width 0.25s 0.1s, opacity 0.25s 0.1s, filter 0.1s, transform 0s;
}
.night_mode img {
  filter: var(--img-filter);
  opacity: var(--img-brightness);
}
img:hover {
  cursor: zoom-in;
  filter: none;
  max-width: 100% !important;
  opacity: 1;
}
img + br {
  display: none;
}
html:not(.mobile) img:active {
  border: 1px solid var(--link-fg-active);
  cursor: zoom-out;
  filter: none;
  left: 0;
  max-width: 95% !important;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 100;
}

/* -------------------------------------------------- TABLES */
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  max-width: 100%;
}
table thead {
  background-color: var(--text-bg-selected);
}
table tr:nth-of-type(even) {
  background-color: var(--text-bg-selected);
}
table tr:first-child th:first-child {
  border-top-left-radius: 0.5em;
}
table tr:first-child th:last-child {
  border-top-right-radius: 0.5em;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5em;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5em;
}
table th {
  border-bottom: solid 1px var(--card-border);
  border-left: solid 1px var(--card-border);
  border-top: solid 1px var(--card-border);
  padding: 0.5em;
}
table th:last-child {
  border-right: solid 1px var(--card-border);
}
table td {
  border-bottom: solid 1px var(--card-border);
  border-left: solid 1px var(--card-border);
  padding: 0.5em;
}
table td:last-of-type {
  border-right: solid 1px var(--card-border);
}

/* -------------------------------------------------- HYPERLINKS */
a, a:visited {
  text-decoration: none;
  color: var(--link-fg);
  border-radius: 0.25em;
  padding: 0 0.1em;
  transition: all 0.1s;
}
a:hover, a:active {
  color: var(--link-fg-active);
  background-color: var(--link-bg-active);
}

/* -------------------------------------------------- FORMATTING */
b,
strong {
  color: var(--bold-fg);
}

i,
em {
  color: var(--italic-fg);
}

b > i,
i > b {
  color: var(--bold-italic-fg);
}

u {
  color: var(--underline-fg);
}

/* -------------------------------------------------- CUSTOM FONTS */
@font-face {
  font-family: Rubik;
  src: local("Rubik-Regular"), url("_Rubik-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Rubik;
  src: local("Rubik-Bold"), url("_Rubik-Bold.woff2") format("wofff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Rubik;
  src: local("Rubik-Italic"), url("_Rubik-Italic.woff2") format("wofff2");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: Rubik;
  src: local("Rubik-BoldItalic"), url("_Rubik-BoldItalic.woff2") format("wofff2");
  font-style: italic;
  font-weight: bold;
}
/* -------------------------------------------------- END OF THEME */
